<!-- _id: "01",
bookTitle: "Halmet",
authors: [ "William Shakespeare" ],
imagePath: "../../assets/books/halmet.jpeg",
bookCategory: "drama",
bookSize: 100,
fileType: "pdf",
publisher: "CS624 Publisher",
ISBN: 12345,
bookDescription: "Hamlet is melancholy, bitter, and cynical, full of hatred for his uncle's scheming and disgust for his mother's sexuality. A reflective and thoughtful young man who has studied at the University of Wittenberg, Hamlet is often indecisive and hesitant, but at other times prone to rash and impulsive acts."
}, -->
<div class="container">
  <div class="card-block">
    <div class="card-body" style="padding: 10px;">
      <div class="row align-items-start">
        <div class="col-20">
          <img class="card-img" src="{{ book.imagePath }}" alt="Card image" style="padding-top: 50px;">
        </div>
        <div class="col">
          <div class="row">
            
          </div>
          <div class="col" style="padding-top: 50px; padding-left: 50px;">
            <p class="card-title"><strong>Title: </strong> {{ book.bookTitle }}</p>
            <p class="card-text">
              <strong>Authors: </strong>
                <span *ngFor="let author of book.authors">{{ author }}; </span>
            </p>
            <p class="card-title"><strong>Category: </strong> {{ book.bookCategory }}</p>
            <p class="card-title"><strong>ISBN: </strong> {{ book.ISBN }}</p>
            <p class="card-title"><strong>Publisher: </strong> {{ book.publisher }}</p>
            <p class="card-title"><strong>BookSize: </strong> {{ book.bookSize }}kb</p>
            <p class="card-title"><strong>Filetype: </strong> {{ book.fileType }}</p>
            <p class="card-text"><Strong>Description: </Strong><br> {{ book.bookDescription }}</p>
            <a [routerLink]="['/api/files/'+book._id]" class="btn btn-primary">Download</a>
          </div>  
        </div>
      </div>     
    </div>
  </div>
</div>