<div class="container">
    <header>
        <h1>E-book+</h1>
    </header>

    <div class="content-area group">

        <div class="main-area">
            <h2>SOME INTRODUCE TO OUR PROJECT
            </h2>
        </div>

        <div>
            <dl>
                <dd>SHANSHAN YU</dd>
                <dd>PRITANKA KAMAFAR</dd>
                <dd>WENZHI XU</dd>
                <dd>YANG REN</dd>
            </dl>
        </div>

        <div class="fixed-buttom">
            <router-outlet></router-outlet>
            <footer>
                <div class="row">
                    <div class="col-12" style="margin-left:30px">
                        <small><strong>&copy;E-Book+ - Shanshan Yu, Priyanka Kamder, Wenzhi Xu, Yang Ren
                                2021</strong></small>
                    </div>
                </div>
            </footer>
        </div>