<!-- <div style="display: flex;justify-content:space-between;">
  <h1>Book Section </h1>
  <div> 
    <a class="btn btn-primary" [routerLink]="['/books/new']">Add New Book</a>
  </div>
</div>
<div class="form-group">
  <input class="form-control" #newquery (keyup)="submit(newquery.value)" (keyup.Enter)="submit(newquery.value)"
    autofocus type="text" style="width: 50%;" [value]="query" placeholder="Serach for a book">
</div> 
{{newquery.value}} -->
<div class="row align-items-start">
  <ng-container *ngFor="let book of books">
      <div class="card-block">
        <div class="card-body" style="padding: 10px; margin-left: 50px; margin-right: 50px">
          <div class="row align-items-center">
            <div class="col-20">
              <img class="card-img" src="{{ book.imagePath }}" alt="Card image">
            </div>
            <div class="col">
              <div class="col">
                <p class="card-title"><strong>Title: </strong> {{ book.bookTitle }}</p>
                <p class="card-text">
                  <strong>Authors: </strong>
                    <span *ngFor="let author of book.authors">{{ author }}; </span>
                </p>
                <p class="card-text"><Strong>Description: </Strong><br> {{ book.bookDescription }}</p>
                <a [routerLink]="['/books/'+book._id]" class="btn btn-primary">More Info</a>
              </div>  
            </div>
          </div>     
        </div>
      </div>
  </ng-container>
</div>
